<div class="upload-frame">
    <h1>
        Upload and convert
    </h1>
    <ngx-dropzone (change)="onSelect($event)">

        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>

        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">

            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>

        </ngx-dropzone-preview>

    </ngx-dropzone>
</div>


<div class="container" *ngIf="message?.length == ''">
    <h1 class="black">Gallery</h1>
    <div class="row">
        <div class="col-md-6" *ngFor="let movie of movies.data">
            <img [src]="movie.thumb" class="col-md-12">
        </div>
    </div>
</div>
<router-outlet>
</router-outlet>